html {background-image: url(/image/office.jpg);background-repeat: no-repeat;background-size: cover}

.join_all {margin-top: 14%;margin-right: 35%;margin-left: 35%;padding-bottom: 2%;text-align: center;background-color: rgba(0, 0, 0, 0.6);border-radius: 10px}

.join {margin-top: 15%;color: #fff}

.join p {text-align: center;font-size: 24px;font-weight: 500;padding-top: 4%;padding-bottom: 5%}

.user {margin-top: 1.5%;margin-bottom: 1%}

#join_id,
#join_pw,
#join_pw_check,
#join_username,
#join_email {
    margin-bottom: 3%;
}

.user input {color: #fff;background-color: transparent;border: 0 solid transparent;border-bottom: 1px solid #fff;width: 44%;text-align: center}

.ok input,
.cancel input {width: 215px;height: 27px;border-radius: 5px;background-color: darkgray;color: black}

#join_ok,
#join_cancel {
    background-color: #cfcfcf;
    border: 1px solid #fff;
    margin: 0.2%;
}
